.header {
  background-color: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
}
h1 {
  text-shadow: 3px 3px rgb(219, 219, 219);
  font-size: 46px;
}
hr {
  border: 1px solid rgb(238, 237, 237);
}
